@font-face {
    font-family: 'FontAwesome';
    src: url('../fonts/fontawesome-webfont.eot?v=4.7.0');
    src: url('../fonts/fontawesome-webfont.eot?#iefix&v=4.7.0') format('embedded-opentype'), url('../fonts/fontawesome-webfont.woff2?v=4.7.0') format('woff2'), url('../fonts/fontawesome-webfont.woff?v=4.7.0') format('woff'), url('../fonts/fontawesome-webfont.ttf?v=4.7.0') format('truetype'), url('../fonts/fontawesome-webfont.svg?v=4.7.0#fontawesomeregular') format('svg');
    font-weight: normal;
    font-style: normal;
  }
body {
    margin: 0;
    padding: 0;
    background: url(../img/bg.jpeg) no-repeat center top;
    background-size: 100% 720px;
    font-family: sans-serif;

    .login-box {
        width: 500px;
        height: 470px;
        text-align: center;
        background-color: rgba(52, 73, 94, 0.7);
        border-radius: 4px;
        color: #fff;
        margin: 0 auto;
        margin-top: 150px;

        .avatar {
            width: 120px;
            height: 120px;
            margin-top: -60px;
            margin-bottom: 30px;
        }
        h1 {
            text-align: center;
            font-size: 22px;
        }
        input {
            width: 100%;
            margin-bottom: 20px;
        }
        input[type="text"], input[type="password"] {
            height: 45px;
            width: 300px;
            font-size: 18px;
            border: none;
            margin-bottom: 20px;
            background-color: #fff;
            padding-left: 40px; 
        }
        .form-input:before{
                content: '\f007';
                position: absolute;
                font-family: FontAwesome; //'Font Awesome 5 Free';
                padding-top: 5px;
                color:#009933;
                padding-left: 5px;
                font-size: 35px;
        }
        .form-input:nth-child(2):before{
            content: "\f023";
        }

        input[type="submit"] {
           padding: 15px 30px;
           cursor: pointer;
           border-radius: 4px;
           border: none;
           color:#fff;
           background-color: #009933;
           margin-bottom: 20px;
           &:hover{
               color:#009933;
               background: #fff;
           }
        }
        a {
            text-decoration: none;
            font-size: 12px;
            line-height: 20px;
            color: darkgrey;
            &:hover {
                color: #fff;
            }
        }
    }
  }
  .body2{
       background: url(../img/descarga2.jpg);
       background-repeat: no-repeat;
       background-size: 100% 720px;
      .container{
          width: 450px;
          height: 550px;
          background-color: rgba(52,73,94,0.7);
          border-radius: 4px;
          margin: auto;
          margin-top: 50px;

          .btn-registro{
              padding: 15px 30px;
              cursor: pointer;
              border-radius: 4px;
              border: none;
              color: #fff;
              background-color: #009933;
              margin: auto;
              &:hover{
                  color: #009933;
                  background-color: #fff;
                  margin: auto;
              }
              &:active{
                  color: #fff;
                  background-color: #009933;
                  margin: auto;
              }
          }
          .titulo{
              color: white;
              text-align: center;
          }
          .container-inputs{
            padding: 10px 30px;
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
          }
          input{
              margin-bottom: 15px;
              padding: 15px;
          }
          .input-50{
              width: 39%;
          }
          .input-100{
              width: 100%;
          }
      }
  }
  